supermercados/supermercadoWS2/src/main/resources/SupermercadoWS2.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.1 git-revision#6a0a3a3. -->
<definitions targetNamespace="http://services.supermercadows2.das.ubp.edu.ar/" name="SupermercadoWS2" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://services.supermercadows2.das.ubp.edu.ar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://services.supermercadows2.das.ubp.edu.ar/" schemaLocation="SupermercadoWS2_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="ObtenerInformacionPreciosProductos">
    <part name="parameters" element="tns:ObtenerInformacionPreciosProductosRequest"/>
  </message>
  <message name="ObtenerInformacionPreciosProductosResponse">
    <part name="parameters" element="tns:ObtenerInformacionPreciosProductosResponse"/>
  </message>
  <message name="ObtenerSucursalesCompletas">
    <part name="parameters" element="tns:ObtenerSucursalesCompletasRequest"/>
  </message>
  <message name="ObtenerSucursalesCompletasResponse">
    <part name="parameters" element="tns:ObtenerSucursalesCompletasResponse"/>
  </message>
  <message name="ObtenerInformacionCompletaProductos">
    <part name="parameters" element="tns:ObtenerInformacionCompletaProductosRequest"/>
  </message>
  <message name="ObtenerInformacionCompletaProductosResponse">
    <part name="parameters" element="tns:ObtenerInformacionCompletaProductosResponse"/>
  </message>
  <portType name="SupermercadoWS2">
    <operation name="ObtenerInformacionPreciosProductos">
      <input wsam:Action="http://services.supermercadows2.das.ubp.edu.ar/SupermercadoWS2/ObtenerInformacionPreciosProductosRequest" message="tns:ObtenerInformacionPreciosProductos"/>
      <output wsam:Action="http://services.supermercadows2.das.ubp.edu.ar/SupermercadoWS2/ObtenerInformacionPreciosProductosResponse" message="tns:ObtenerInformacionPreciosProductosResponse"/>
    </operation>
    <operation name="ObtenerSucursalesCompletas">
      <input wsam:Action="http://services.supermercadows2.das.ubp.edu.ar/SupermercadoWS2/ObtenerSucursalesCompletasRequest" message="tns:ObtenerSucursalesCompletas"/>
      <output wsam:Action="http://services.supermercadows2.das.ubp.edu.ar/SupermercadoWS2/ObtenerSucursalesCompletasResponse" message="tns:ObtenerSucursalesCompletasResponse"/>
    </operation>
    <operation name="ObtenerInformacionCompletaProductos">
      <input wsam:Action="http://services.supermercadows2.das.ubp.edu.ar/SupermercadoWS2/ObtenerInformacionCompletaProductosRequest" message="tns:ObtenerInformacionCompletaProductos"/>
      <output wsam:Action="http://services.supermercadows2.das.ubp.edu.ar/SupermercadoWS2/ObtenerInformacionCompletaProductosResponse" message="tns:ObtenerInformacionCompletaProductosResponse"/>
    </operation>
  </portType>
  <binding name="SupermercadoWS2PortBinding" type="tns:SupermercadoWS2">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="ObtenerInformacionPreciosProductos">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="ObtenerSucursalesCompletas">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="ObtenerInformacionCompletaProductos">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SupermercadoWS2">
    <port name="SupermercadoWS2Port" binding="tns:SupermercadoWS2PortBinding">
      <soap12:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

